.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-primary {
  background-color: #1c263a !important;
  color: #fff;
}

.btn {
  cursor: pointer !important;
}

.card {
  border: unset !important;
}

.header-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.preview-box {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  height: 15rem;
  white-space: normal;
  word-break: break-word;
  overflow-y: hidden;
}
